@charset "UTF-8";

@media screen and (max-width: 800px){
  main{
    width: 90vw;
  }

  main h4{
  	margin: 0 8px;
  }

  main p{
  	margin: 0 16px;
    margin-bottom: 24px;
  }

  figure img{
    width: 95%;
  }

  table{
    width: 95%;
    font-size: 14px;
  }
}
