@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #383838;
    color: #efd8b8;
    /*font-family: 'Meiryo', sans-serif;*/
    font-family: "M PLUS 1p", sans-serif;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

hr{
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background-color: #808080;
    border: none;
}

header{
    height: 12vh;
    width: 100%;
    margin-top: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-inner{
    height: 40%;
}

#logo{
    height: 100%;
}

.title-wrapper{
    height: 12vh;
    text-align: center;
}

#title{
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

#subtitle{
    color: #808080;
    margin-top: .8em;
    font-size: .8em;
}

.scroll-arrow{
    text-align: center;
    margin: 20vh;
}

.scroll-arrow a{
    position: relative;
    top: 0;
    transition: .3s;
}

.scroll-arrow a:hover{
    position: relative;
    top: 24px;
    transition: .3s;
}

.block{
    width: 95%;
    max-width: 880px;
    margin: 0 auto; 
}

.block~.block{
    margin-top: 6vh;
}

.heading{
    height: 6vh;
    line-height: 6vh;
}

.heading h2{
    color: #efd8b8;
    font-size: 1.2em;
    font-weight: 300;
}

/*category*/
#category{
    padding-top: 12vh;
}
.category-main{
    padding: 1.5vh 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.category-content{
    display: inline-block;
    height: 15vh;
    border-radius: 8px;
    box-shadow: 0 4px 32px #00000040;
}

.category-content img{
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.category-content~.category-content{
    margin-left: 1.5vh;
}

/*blog*/
.blog-main{
    flex-wrap: wrap;
}

.article{
    height: 18vh;
    width: 100%;
    padding: 3vh 0;
    display: flex;
}

.article~.article{
    border-top: 1px solid #efd8b840;
}

.eyechatch-wrapper{
    height: 100%;
    vertical-align: top;
}

.eyechatch{
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 32px #00000040;
}

.article-text{
    margin-left: 2.5%;
}

.article-title{
    color: #efd8b8;
    text-decoration: none;
}
.article-title h3{
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tags{
    color: #78ad9e;
    font-size: .8em;
    text-decoration: none;
}

.date{
    color: #808080;
    font-size: .8em;
}


/*profile*/
.profile-main{

    text-align: center;
    padding: 5%;

    background-color: #444444;
    border-radius: 8px;
    box-shadow: 0 4px 32px #00000040;
}

.profile-image{
    width: 128px;
    border-radius: 64px;
    box-shadow: 0 4px 32px #00000040;
}

.profile-name{
    font-size: 1.2em;
    font-weight: 300;
}

.profile-position{
    color: #808080;
    font-size: .8em;
}

.profile-bio{
    width: 35%;
    margin: 0 auto;
    color: #afafaf;
    font-size: .8em;
}

.sns{
    margin-top: 1em;
    height: 1.2em;
    display: flex;
    justify-content: center;
}
.sns-icon~.sns-icon{
    margin-left: 1em;
}
.sns-icon img{
    height: 100%;
}


/*footer*/
footer{
    color: #808080;
    margin: 3vh 0;
    text-align: center;
    font-size: .8em;
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background-color: #383838;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background-color: #80808040;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #80808060;
    border-radius: 4px;
}