@charset "UTF-8";

@media screen and (max-width: 1080px){
    
}

@media screen and (max-width: 640px){

    #title{
        font-size: 1.2em;
    }

    #subtitle{
        font-size: 0.65em;
    }

    /*blog*/
    .article-title{
        font-size: 0.75em;
    }
    .tags{
        font-size: 0.75em;
    }
    .date{
        font-size: 0.75em;
    }

    /*profile*/
    .profile-bio{
        width: 80%;
    }
}