@charset "UTF-8";

@media screen and (max-width: 1080px){
    
}

@media screen and (max-width: 480px){

    #title{
        font-size: 1.2em;
    }

    #subtitle{
        font-size: 0.65em;
    }

    /*blog*/
    .article-title{
        font-size: 0.8em;
    }
    .tags{
        display: none;
    }
    .date{
        display: none;
    }

    /*profile*/
    .profile-bio{
        width: 80%;
    }

    /*scroll bar*/
    ::-webkit-scrollbar{
        height: 4px;
    }
}