@charset "UTF-8";

@media screen and (max-width: 1080px){
    
}

@media screen and (max-width: 640px){

    #title{
        font-size: 1.2em;
    }

    #subtitle{
        font-size: 0.65em;
    }

    /*blog*/
    .article{
        width: 100%;
    }
    .article~.article{
        margin-top: 12%;
    }
}